<!DOCTYPE html>
<html>
<head>
    <title>Control</title>
    <style>
    body {
        text-align: center;
        margin-top: 50px;
        color: black;
    }
    </style>
</head>
<body id="fondo">

    <h1>Control Remoto</h1>

    <button onclick="enviar('on')">Prender</button>
    <button onclick="enviar('off')">Apagar</button>

    <p id="respuesta"></p>

    <script>

        function actualizarPantalla(estado) {

            if (estado === 'on') {

                document.getElementById("fondo").style.backgroundColor = "yellow";
                document.body.style.color = "black";

            }
            else if (estado === 'off') {

                document.getElementById("fondo").style.backgroundColor = "black";
                document.body.style.color = "white";

            }

            document.getElementById("respuesta").innerText =
                "LED: " + estado;
        }

        function enviar(accion) {

            fetch('/control', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ estado: accion })
            });

        }

        function obtenerEstado() {

            fetch('/estado')
            .then(res => res.text())
            .then(data => {

                actualizarPantalla(data);

            });

        }

        // consultar estado cada segundo
        setInterval(obtenerEstado, 1000);

        // consultar apenas carga la página
        obtenerEstado();

    </script>

</body>
</html>